<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red,
            ERROR=red,
            INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow}- %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${layoutPattern}" disableAnsi="false"/>
        </Console>
        <RollingFile name="FileAppender"
                     fileName="logs/app.log"
                     filePattern="logs/GoodsForYou-%d{yyyy-MM-dd}-%i.log">
            <JsonLayout complete="false" compact="false" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10000KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="com.aorri2" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>
</Configuration>


